.freeart-content{
    margin-left: 136px;
    width:1264px;
}
@media (min-width: 1600px){
    .freeart-content {
        margin: 0 auto;
        
    }
}
@font-face {
    font-family: 'apple-font-EB';
    src: url('../../public/font/apple/AppleSDGothicNeoM.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
input::placeholder {
    color: #B7B7B7;
    font-size: 20px;
    font-family: apple-font-EB;
    
  }
  textarea::placeholder {
    color: #B7B7B7;
    font-size:15px;
    font-family: apple-font-EB;
    
  }

.freeart-content-head{
    display: block;
    width: 100%;
    height: 250px;
    background: #FDDEDE;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.freeart-content-head-title{
    display:inline-block;
    font-family: 'hanna-font';
    width:100%;
    margin-top:125px;
    margin-left:30px;
    text-align:left;
    color: #E66262;
    font-size: 65px;
    margin-bottom:7px;

}
.freeart-content-head-content{
    display:inline-block;
    font-family: 'apple-font-EB';
    font-weight: 400;
    width:100%;
    text-align:left;
    margin-left:30px;
    color:#711010;

}
.freeart-content-profile{
    display:inline-block;
    text-align: center;
    width: 304px;
    height: 304px;
    background: #F7F7F7;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.freeart-content-profile-name{
    margin-top: 33px;
    font-size: 40px;
    color:#6E5DB0;
    display: inline-block;
    
}
.freeart-content-profile-nim{
    margin-left: 7px;
    display: inline-block;
    margin-top: 33px;
    font-size: 20px;
}
.freeart-content-profile-boho{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width:120px;
    height: 120px;
}
.freeart-activity{
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 3px;
}

.freeart-buttonBoxes div{
    
    display: inline-block;
    margin: 1.5px;
    width: 48.5%;
    background: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-size: 13.5px;
}
.freeart-form-div{
    
    display: inline-block;
    vertical-align: top;
    margin-bottom:22px;
    width: 943.36px;
    margin-left: 16.5px;
    
}
.freeart-form{
    
    
    border-radius: 1px;
    height: 302.2px;
    border: 1px solid #B7B7B7;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.form-title-div{
    width: 100%;
    border-bottom: 1px solid #B7B7B7;
}
.form-title{
    vertical-align: top;
    padding-left:7px;
    font-family: apple-font-EB;
    font-size: 20px;
    
    height:55px;
    width: 97%;
    border: none;
    outline :none;
    
}
.form-contents-div{
    width: 100%;
    border-bottom: 1px solid #B7B7B7;
}
.form-contents{
    vertical-align: top;
    height:190px;
    width: 97%;
    padding-left:7px;
    font-family: apple-font-EB;
    font-size: 15px;
    resize: none;
    border: none;
    outline :none;
    
}
.form-last{
    display: inline-block;
    width: 100%;
    height: 56.7px;
    
    
}


.clip-icon{
    margin-top: 13px;
    margin-left: 3px;
    
}
.form-last button{
    float: right;
    font-family: apple-font-EB;
    height: 100%;
    width: 122px;
    border: none;
    background: #7A96FC;
    color: #fff;
    cursor:pointer;
    padding-top:3px;
    font-size: 23px;
}
.freeart-arts-container{
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-right:1.5px;
    width: 941px;
    
    
    border-bottom:none;
    margin-bottom: 60px;
    
}
#freeart-arts-grid{
    
    
    vertical-align: top;
    float: left;
    width: 940px;
    border: 1px solid #B7B7B7;
    height: 130px;
    margin-right:-1px;    
    
}
.freeart-arts-profile{
    display: inline-block;
    float: left;
    width: 105px;
    height: 105px;
    margin-top: 12.5px;
    margin-left:12.5px;
    margin-right: 15px;
}

.freeart-arts-container div h4{
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    font-size: 19px;
    clear:both;
    margin-top: 16px;
    
    
    color: #000;
}
.freeart-arts-container div p{
    color: #000;
    height:54px;
    font-size: 15px;
}
.freeart-arts-whenwho{
    display: inline-block;
    vertical-align:bottom;
    color: #b7b7b7;
    font-size: 13px;
}
.count-container{
    display: inline-block;
    float:right;
    margin-right: 20px;
    
    
}
.freeart-maincontents{
    display: inline-block;
    width: 99.8%;
    border: 1px solid #B7B7B7;
}
.freeart-maincontents-header{
    height:85px;
}
.fmh-left{
    margin-top:17px;
    margin-left:17px;
    display: inline-block;
    width:52px;
    height: 52px;
    
    vertical-align: top;
}
.fmh-right{
    display: inline-block;
    margin-top:25px;
    width: 70%;
    height: 50px;
    /* background-color: blue; */
    
}
.fm-img-background{
    
    width:52px;
    height:52px;
    background-color: orange;
    border-radius: 100%;
    text-align: center;
}
.fm-img{
    width:52px;
    height:52px;
}
.fmh-right div{
    margin-top: 0px;
    margin-left: 8px;
    font-size: 14.5px;
}
.fmc-title{
    
    margin-left: 17px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom:10px
}
.fmc-contents{
    
    font-family: 'apple-font-EB';
    margin-left: 17px;
    margin-bottom: 10px;
}
.fmc-report{
    display: inline-block;
    font-family:'apple-font-M';
    font-size:11px;
    float: right;
    margin-top:20px;
    margin-right:17px;
    
}
.fmc-icon{
    margin-left: 17px;
    margin-bottom: 10px;
    margin-top:10px;
}





.mypage-profile-image1{
    display: flex;
    justify-content:center; 
    align-items : center;
    position: relative;
    right: -70px;
    bottom : -20px;
    width: 150px;
    height: 150px;

    background: #FFFFFF;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
}
.board-profile-image2{
    display: flex;
    justify-content:center; 
    align-items : center;
    position: relative;
    right: -70px;
    bottom : -20px;
    width: 150px;
    height: 150px;

    background: #FFFFFF;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
    width: 200px;

}
.board-profile-image3{
    display: flex;
    justify-content:center; 
    align-items : center;
    width : 120px;
    height: 120px;
    border-radius: 1150px;
    background-color: #14BBE0;

}
.freeart-comment{
    border: 1px solid #B7B7B7;
    min-height:100px;
}
.freeart-comcomment{
    border: 1px solid #B7B7B7;
    min-height:100px;
    width:95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom:15px;
    background-color: #f4f4f4;
}
.fmc-comment-input{
    border: 1px solid #B7B7B7;
    /* background-color: #f4f4f4; */
    min-height:35px;
    margin-bottom: 100px;
}
.write-comment{
    display: inline-block;
    resize: none;
    border: none;
    outline :none;
    box-sizing: border-box;
    overflow: hidden;
    font-size:16px;
    margin-left:13px;
    margin-top:9px;
    height:20px;
    line-height:20px;
    width:87%;
    font-family: apple-font-EB;
    /* background-color: #f4f4f4; */
}
.fmc-comment-submit{
    display:inline-block;
    float: right;
    vertical-align: top;
    height:34.95px;
    width:34.95px;
    background-color: grey;

}
