
*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'apple-font-M';
    src: url('../../public/font/apple/AppleSDGothicNeoM.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'apple-font-EB';
    src: url('../../public/font/apple/AppleSDGothicNeoM.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hanna-font';
    src: url('../../public/font/bm/BMHANNA_11yrs_ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'apple-font-B';
    src: url('../../public/font/apple/AppleSDGothicNeoB.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BM HANNA_TTF';
    src: url(../../public/font/bm/BM-HANNA.ttf);
}

/* body{
    font-family:'apple-font'
} */

a {
    text-decoration: none;
}
input:focus {outline: none;}
.logo {
    position: relative;
    
    width: 121px;
    height: 56px;
    left: calc(50% - 121px/2 + 0.5px);
    top: 13px;
}

.navbar{
    

    position: relative;
    width: 1536px;
    height: 72px;
    
    margin: 0 auto;

    background: #FFFFFF;
    border-bottom: 1.5px solid #CECECE;
    
}
@media (min-width: 1600px){
    .navbar {
        width: 100%;
        
    }
}

.searchtool{
    position: absolute;
    width: 36px;
    height: 25px;
    right: 45px;
    top: 24px;
}
.notification{
    position: absolute;
    width: 36px;
    height: 25px;
    right: 10px;
    top: 24px;
}

.draw{
    position: absolute;
    width: 36px;
    height: 20px;
    left: 10px;
    top: 17.75px;
}
.contents {
    position: relative;
    width: 1280px;
    min-height: 100%;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 8px;
    
    
}

.box-high{
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    height: 80%;
    background-color: #FDDEDE;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.box-low{
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    height:26%;
    background-color: #FFFFFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.box-low-login{
    vertical-align:'bottom';
    height: 20px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.box-high-title{
    font-family: 'hanna-font';
    padding-top:20px;
    padding-left: 20px;
    
    width: 50%;
    height: 50%;
    font-Size: 43px;
    text-align: left;
}
.box-high-contents{
    font-family:'apple-font-M';
    padding-left: 20px;
   
    width: 50%;
    height: 50%;
    font-Size: 16px;
    font-weight: 400;
    margin-top: -8px;
    text-align: left;
}

.freeboho {
    
   position: absolute;
    margin-top:90px;
    width: 130px;

    height: 185px;
}

.box-low-title {
    text-align: left;
    padding-top: 20px;
    margin-left: 10px;
    font-family: 'hanna-font';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-indent: 5px;
}

.box-low-contents {
    display:inline-block;
    text-align :left;
    vertical-align: top;
    line-height:25px;
    width:68%;
    font-family: 'apple-font-M';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    
/* identical to box height */

    text-indent: 5px;

}
.box-low-contents-time {
    display:inline-block;
    padding-top:-10px;
    vertical-align: top;
    line-height:25px;
    width:25%;
    font-family: 'apple-font-M';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    
/* identical to box height */

    

}

.box-high-job {
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    height: 80%;
    background-color: #FFF1C1;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.jobboho {
    
    position: absolute;
    margin-top:25px;
     width: 125px;
 
     height: 240px;
 }

 .box-high-whowe {
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    height: 80%;
    background-color: #E2F6DD;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.whoweboho {
    
    position: absolute;
    margin-top:70px;
     width: 140px;
 
     height: 180px;
 }
 .box-high-major {
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    height: 80%;
    background-color: #F8E4FF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.majorboho {
    
    position: absolute;
    margin-top:90px;
     width: 145px;
 
     height: 165px;
 }

 .naverlogin {
    width: 266px;
    height: 129px;
 }
 
 .box-high-outside{
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    height: 80%;
    background: linear-gradient(270deg, #FF8576 0%, #F75256 0.01%, #FF8576 100%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
 }
 .advertise {
    height: 227px;

 }

 .login-form {
    margin-top: 35px;
    height: 150px;
 }

 .nim{
    font-size: 22px;
    margin-left:3px;
    color: #000;
    font-family: 'BM HANNA_TTF';
    font-weight: '100';
 }
 .mypage-box{
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    
;
 }
 .mypage-box-title{
    color:#6E5DB0;
    font-Size: 35px;
    padding-top: 20px;
    font-family: 'BM HANNA_TTF';
 }
 .mypage-box-profile-image{
    display:block;
    margin: 0 auto;
    margin-top: 11px;
    width: 110px;
    height: 110px;
    margin-bottom: 10px;

 }
 .mypage-box-nickname{
    display: inline;
    font-size: 12px;
 }
 .mypage-box-hi{
    display: inline;
    font-size: 12px;
 }
 
 .penicon{
    
    
    display:inline-block;
    margin-left:5px;
    
    width:12px;
    height:12px;
 }
 .mypage-box-etc div{
    position: relative;
    display:inline-block;
    font-size: 5px;
    cursor:pointer;
    /* font-family: 'apple-font-M'; */
    -webkit-transform:scale(0.85);
    padding: 0 10px;
    margin: 0 -5px;

    
    
 }
 .mypage-box-etc div::before {
    content: "";
    position: absolute;
    top: 1;
    left:0;
    margin-top:4.7px;
    display: block;
    width: 1px;
    height:8px;
    background: #ddd;
 }

 .mypage-box-etc div:first-child::before {
    display: none;
 }
 

 .sLogo{
    position: absolute;
    width: 487px;
    height: 219px;
    left: calc(50% - 487px/2 - 0.5px);
    top: 252px;
 }

 .sinput{
    position: absolute;
    position : relative;
    width: 800px;
    left: 439px;
    top: 450px;
    border-top:#FFFFFF;
    border-right:#FFFFFF;
    border-left:#FFFFFF;
    size :100px;
    font-size: 20px;
    color:#8A8A8A;
    line-height: 40px;
 }
 /* width : 136 */
 .sicon{
    position: absolute;
    left : 1190px;
    top : 522px;
    
 }

 /* 에러 페이지 */
 .error{
    display: flex;
    position: absolute;
    width: 1046px;
    height: 682px;
    left: 317px;
    top: 100px;
    text-align: center;
    background: #F7F7F7;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
/* 1680 */
/* 317 317 */
.errorImg{
    position: absolute;
    width: 487px;
    height: 219px;
    left: calc(50% - 487px/2 - 0.5px);
    top: 150px;
}
.errormessage{
    position: absolute;
    width: 646px;
    height: 35px;
    left: 200px;
    top: 370px;
    
    font-family: 'apple-font-EB';
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    color: #ADADAD;
}
/* 1046 */
/* 300 646 300 */
.errorbutton{
    position: relative;
    height: 68px;
    width: 310px;
    left: 190px;
    top: 500px;
    background: #FFFFFF;
    border-radius: 2px;
    border-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    font-family: 'apple-font-B';
    
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #ADADAD;
    cursor:pointer;
    margin: 15px;
}