.freeart-content{
    margin-left: 136px;
    width:1264px;
}
@media (min-width: 1600px){
    .freeart-content {
        margin: 0 auto;
        
    }
}
.mypage-content-head{
    display: block;
    width: 100%;
    height: 250px;
    background: #C6DBFF;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.mypage-content-head-title{
    display:inline-block;
    font-family: 'hanna-font';
    width:100%;
    margin-top:125px;
    margin-left:30px;
    text-align:left;
    color: #3677E2;
    font-size: 65px;
    margin-bottom:7px;

}
.mypage-content-head-content{
    display:inline-block;
    font-family: 'apple-font-EB';
    
    width:100%;
    text-align:left;
    margin-left:30px;
    color:#113A7E;
    font-weight: bold;

}

.mypage-content-profile-correct{
    display: block;
    width: 100%;
    height: 600px;
    text-align: center;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    margin-bottom: 20px;
}

.mypage-content-profile-head{
    
    position: static;
    width: 100%;
    text-align: left;
    font-family: 'BM HANNA_TTF';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 65px;
    text-indent: 30px;

    color: #29559F;
}


.mypage-content-profile-text{
    
    position: static;
    width: 100%;
    text-align: left;
    
    font-family: 'apple-font-M';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    line-height: 10px;

    text-indent: 30px;

    color: #000000;
}
.mypage-content-profile-content{

    width: 100px;
    text-align: left;
    font-family: 'apple-font-EB';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
    

    color: #000000;
}
.mypage-nickname-input{
    position : relative;
    width: 800px;
    border-top:#FFFFFF;
    border-right:#FFFFFF;
    border-left:#FFFFFF;
    size :100px;
    font-size: 20px;
    color:#8A8A8A;
    line-height: 40px;
}
.mypage-content-profile-content-position{
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
}
.mypage-nickname-button{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100px;
    font-size: 20px;
    background: #FFFFFF;
    border-color :#8A8A8A;
    cursor: pointer;
}
.button-test{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #8A8A8A;
    width: 150px;
    font-size: 15px;
    color: #8A8A8A;
    font-family: 'apple-font-EB';
    cursor: pointer;
    margin-right: 10px;
}
.button-test2{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #4285F4;
    width: 150px;
    font-size: 15px;
    color: #4285F4;
    font-family: 'apple-font-EB';
    cursor: pointer;
    margin-right: 10px;
}


.namecheck{
    margin-top: 7px;
}

.button-color{
    color :#8A8A8A;
}

label {
    box-sizing: border-box;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #8A8A8A;
    font-size: 24px;
    color: #8A8A8A;
    
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked + label {
    border-color: #9c1313;
    background-color: #B7B7B7;
  }

.check{
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

.mypage-content-character-text{
    position:relative;
    text-align: left;
    width: 500px;
    line-height: 35pt;
    margin-bottom: 20px;
    font-size: 15pt;
}
.gray-circle{
    display: flex;
    justify-content:center; 
    align-items : center;
    width : 60px;
    height: 60px;
    border-radius: 1150px;
    background-color: #F0F0F0;
    margin-bottom: 30px;
    margin-left: 20px;
    float:left;
}

.mypage-profile-img{
    position:absolute;
    bottom: -90px;
    width: 10000px;
}
.mypage-profile-img-in{
    cursor: pointer;
    width : 60px;
}
.mypage-profile-color{
    position:absolute;
    bottom: -250px;
    width: 700px;
    top:100px;
}
.mypage-content-color-text{
    position:relative;
    text-align: left;
    width: 500px;
    line-height: 40pt;
    font-size: 15pt;
}
.mypage-content-color-text2{
    position:relative;
    text-align: left;
    width: 500px;
    line-height: 60pt;
    font-size: 15pt;
}

.mypage-color{
    background: #FF6767;
    border-radius: 10px;
    
}

.mypage-color-button{
    background-color:#FF6767;
    border:none;
    color:white; 
    padding:30px 30px; 
    text-align:center; 
    text-decoration:none;
    display: inline-block;
    font-size: 16px; 
    cursor:pointer;
    border-radius: 10px;
    margin-right: 0px;
    margin-left: 20px;
}

/* 프로필 배경 색깔 정하기 */
.mypage-color-button1{
    background-color:#c5e0b4;
}
.mypage-color-button2{
    background-color:#ffe699;
}
.mypage-color-button3{
    background-color:#bdd7ee;
}
.mypage-color-button4{
    background-color:#f8cbad;
}
.mypage-color-button5{
    background-color:#ffc5cd;
}
.mypage-color-button6{
    background-color:#dfc2ec;
}
.mypage-color-button7{
    background-color:#adb9ca;
}

.mypage-content-correct-button1{
    cursor: pointer;
    position: absolute;
    height: 20px;
    left: 1000px;
    top: 900px;
    font-family: 'apple-font-EB';
    background-color: #aaaaaa6b;
    border: 0;
    width: 90px;
    border-radius: 2px;
}
.mypage-content-correct-button2{
    cursor: pointer;
    position: absolute;
    height: 20px;
    left: 1110px;
    top: 900px;
    font-family: 'apple-font-EB';
    background-color: #aaaaaa6b;
    border: 0;
    width: 90px;
    border-radius: 2px;
}


/* 나의 활동 */
.mypage-content-activity{
    display: block;
    width: 100%;
    height: 200px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    margin-bottom: 20px;
}

.mypage-content-profile-content{

    width: 100px;
    text-align: left;
    font-family: 'apple-font-EB';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
    text-indent: 10px;

    color: #000000;
}


.mypage-content-acitivity-text{
    position: static;
    width: 100%;
    text-align: left;
    
    font-family: 'apple-font-M';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    line-height: 20px;

    text-indent: 15px;

    color: #000000;
}

.mypage-content-acitvity-button{
    cursor : pointer;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right:30px;
    margin-left:30px;
    
    width : 249px;
    height: 70px;
    
    background: #FFFFFF;
    border: 1px solid #8A8A8A;
    color : #8A8A8A;
    font-size: 35px;
}
/* 1264 */
/* 14 30 249 30 30 249 30 30 249 30 30 249 30 14*/


/* 이용 안내 */

.mypage-content-useInfo{
    display: block;
    width: 100%;
    height: 400px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    margin-bottom: 20px;
}

/* test */
.test{
    display: flex;
    justify-content:center; 
    align-items : center;

    position: absolute;
    width: 200px;
    height: 200px;
    left: 1000px;
    top: 684px;

    background: #FFFFFF;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
}
.test2{
    width: 150px;

}
.test3{
    display: flex;
    justify-content:center; 
    align-items : center;
    width : 150px;
    height: 150px;
    border-radius: 1150px;
    background-color: #14BBE0;
    margin-top: 15px;
}
.name{
    position: absolute;
    width: 300px;
    height: 10px;
    left: 1055px;
    top: 684px;

    font-family: 'apple-font-M';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;


color: #686868;

}


/* 홈페이지에서 프로필 */
.profile1{
    display: flex;
    justify-content:center; 
    align-items : center;

    position: absolute;
    width: 168px;
    height: 168px;
    left: 905px;
    top: 684px;

    background: #FFFFFF;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.profile2{
    position: relative;
    top: 5px;
    width: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 130px;
    height: 130px;
    margin-bottom: 5px;
    border-radius: 1150px;
    text-align: center;
    /* box-shadow: 4px 4px 4px rgba(0.25, 0.25, 0.25, 0.25); */
}
.profile3{
    display: flex;
    justify-content:center; 
    align-items : center;
    width : 130px;
    height: 130px;
    border-radius: 1150px;

}
.profile4{
    position: relative;
    top: 20px;
    width: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    width: 130px;
    height: 130px;
    margin-bottom: 5px;
    border-radius: 1150px;
    text-align: center;
    /* box-shadow: 4px 4px 4px rgba(0.25, 0.25, 0.25, 0.25); */
}

/* 프로필 기본정보만 나오는거 */

.mypage-profile{
    
    display: block;
    width: 100%;
    height: 300px;
    text-align: center;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    margin-bottom: 20px;
}

.mypage-profile-head{
    
    position: absolute;
    width: 100%;
    text-align: left;
    font-family: 'BM HANNA_TTF';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 65px;
    text-indent: 15px;

    color: #29559F;
}
.mypage-profile-image1{
    display: flex;
    justify-content:center; 
    align-items : center;
    position: relative;
    right: -70px;
    bottom : -20px;
    width: 150px;
    height: 150px;

    background: #FFFFFF;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
}
.mypage-profile-image2{
    width: 105px;

}
.mypage-profile-image3{
    display: flex;
    justify-content:center; 
    align-items : center;
    width : 120px;
    height: 120px;
    border-radius: 1150px;
    background-color: #14BBE0;

}
.mypage-profile-name{
    position: absolute;
    width: 81px;
    height: 0px;
    left: 270px;
    top: 100px;

    font-family: 'apple-font-EB';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-indent: 10px;

    color: #000000;

}
.mypage-profile-name1{
    position: absolute;
    width: 300px;
    height: 0px;
    left: 350px;
    top: 100px;

    font-family: 'apple-font-EB';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-indent: 10px;

    color: #000000;

}
.mypage-profile-job{
    position: absolute;
    width: 81px;
    height: 0px;
    left: 270px;
    bottom : 60px;

    font-family: 'apple-font-EB';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-indent: 10px;

    color: #000000;

}
.mypage-profile-job1{
    position: absolute;
    width: 300px;
    height: 0px;
    left: 350px;
    bottom:60px;

    font-family: 'apple-font-EB';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-indent: 10px;

    color: #000000;

}
.mypage-profile-belong{
    position: absolute;
    width: 81px;
    height: 0px;
    left: 270px;
    bottom  :10px;

    font-family: 'apple-font-EB';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-indent: 10px;

    color: #000000;

}
.mypage-profile-belong1{
    position: absolute;
    width: 300px;
    height: 0px;
    left: 350px;
    bottom :10px;

    font-family: 'apple-font-EB';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    text-indent: 10px;

    color: #8A8A8A;;

}

.profile-edit-button{
    cursor : pointer;
}